--- 
layout: default

---

<head>
    <link href="/assets/styles/main.css" rel="stylesheet" />
</head>

<p class="meta">
  {{ post.date | date: "%B %d, %Y" }}
  <a href="/">
    <i class="home fa fa-home"></i>
  </a>
</p>

<div id="main" class="wrap" role="main">
<table id="tableShadow" style="width:80%">
    <tr id=head>
        <td>
          <h1>rcp-{{ page.date | date: "%d-%m-%y" }}</h1>
        </td>
        <td>  
          <h1>{{ page.title }}</h1>
        </td>
    </tr>
    <tr>
        <td id = inputBeer style = "text-align:center">
          Presentation
        </td>
        <td align="center">
          {{ page.media }}
        </td>
    </tr>
    <tr>
      <td id = inputBeer style = "text-align:center">
        Background
      </td>
      <td id = inputList>
          {{ content }}
      </td>
    </tr>
  </table>
</div>